$primaryColor: #f84f8a;
$secondaryColor: #f19200;
$tertiaryColor: #535353;
$accentColor: #23c3d8;
$shadowColor: #197186;
$blackColor: #000;
$whiteColor: #fff;
$creamColor: #dfd8c7;
$greyColor: #6c6d70;
$greyBrownColor: #403f3f;
