---
import Headline from '../components/shared/Headline.astro';
import Paragraph from '../components/shared/Paragraph.astro';
import Layout from '../layouts/Layout.astro';
import Button from '../components/shared/Button.astro';
---

<Layout title="Welcome to Astro.">
	<h1>Home Page</h1>
	<h2>Home Page</h2>
	<h3>Home Page</h3>
	<h4>Home Page</h4>
	<h5>Home Page</h5>
	<h6>Home Page</h6>
	<Headline>Aliquam tincidunt mauris eu risus.</Headline>
	<Headline hlstyle="two">Aliquam tincidunt mauris eu risus.</Headline>
	<Headline hlstyle="three">Aliquam tincidunt mauris eu risus.</Headline>
	<Headline hlstyle="four">Aliquam tincidunt mauris eu risus.</Headline>
	<Paragraph>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh viverra non semper suscipit posuere a pede.</Paragraph>
	<Paragraph pstyle="two">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh viverra non semper suscipit posuere a pede.</Paragraph>
	<Button>Click Me!</Button>
</Layout>

