@use "../../styles/abstracts/" as *;
@use "../../styles/global/headlines";

.intro-hero {
  position: relative;
  width: 100%;
  padding-top: 22rem;
  padding-bottom: 10rem;

  &-image {
    position: relative;
    width: calc(45%);
    margin-top: 5rem;
    z-index: 10;
  }

  &-content {
    position: relative;
    width: calc(55% - 5rem);
    margin: 0 0 0 5rem;
    z-index: 10;

    &-title {
      width: 100%;

      h1 {
        color: $whiteColor;
        text-align: center;
      }
    }

    &-main {
      width: 100%;
      text-align: center;

      p {
        @extend .hl-four;
        color: $whiteColor;
      }
    }
  }

  &-quote {
    width: 100%;
    position: absolute;
    bottom: 12rem;
    right: 15rem;
    z-index: 10;
    text-align: right;
    transform-origin: center center;
    transform: rotate(-10deg);

    p {
      @extend .hl-two;
      color: $shadowColor;
      font-weight: bold;
      text-transform: uppercase;
      margin: 0;
    }
  }

  &-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      170deg,
      $accentColor 0%,
      $accentColor 69%,
      $primaryColor 69%,
      $primaryColor calc(69% + 2rem),
      $whiteColor calc(69% + 2rem),
      $whiteColor calc(69% + 2rem + 0.75rem),
      $shadowColor calc(69% + 2rem + 0.75rem),
      $shadowColor calc(69% + 2rem + 0.75rem + 1.5rem),
      $whiteColor calc(69% + 2rem + 0.75rem + 1.5rem),
      $whiteColor 100%
    );
    z-index: 5;

    &-dot-one {
      position: absolute;
      top: -10rem;
      right: 25%;
      width: 23rem;
      height: 23rem;
      border-radius: 50%;
      background-color: $primaryColor;
      z-index: 1;
    }

    &-dot-two {
      position: absolute;
      top: 5rem;
      left: 29%;
      width: 23rem;
      height: 23rem;
      border-radius: 50%;
      background-color: $primaryColor;
      z-index: 1;
    }

    &-dot-three {
      position: absolute;
      top: 50%;
      left: -3rem;
      width: 23rem;
      height: 23rem;
      border-radius: 50%;
      background-color: $primaryColor;
      z-index: 1;
    }
  }
}
