@use "../../styles/abstracts/" as *;
@use "../../styles/global/paragraphs";

.levels {
  &-item {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    width: 100%;
    margin-bottom: 5rem;

    @media (min-width: 768px) {
      flex-direction: row;
    }

    &-content {
      width: calc(100%);
      margin-top: 2.5rem;
      margin-bottom: 5rem;

      @media (min-width: 768px) {
        width: calc(50% - 2rem);
        margin: 0 1rem;
      }

      @media (min-width: 1025px) {
        width: calc(50% - 2rem);
      }

      &-title {
        h2 {
          display: inline-block;
          position: relative;
          color: $shadowColor;

          &:after {
            position: absolute;
            bottom: 0rem;
            display: block;
            width: 100%;
            height: 3rem;
            background-color: rgba($shadowColor, 0.15);
            content: "";
          }
        }

        p {
          font-weight: bold;
          margin-bottom: 4rem;
        }
      }

      &-paragraphs {
        margin-bottom: 3rem;

        p {
          @extend .p-one;
        }
      }

      &-link {
        a {
          background-color: $shadowColor;
        }
      }
    }

    &-image {
      width: calc(100%);

      @media (min-width: 768px) {
        width: calc(50% - 2rem);
        margin: 0 1rem;
      }

      @media (min-width: 1025px) {
      }
    }

    &-reversed {
      @media (min-width: 768px) {
        flex-direction: row-reverse;
      }

      .levels-item-content-title {
        h2 {
          color: $secondaryColor;

          &:after {
            background-color: rgba($secondaryColor, 0.15);
          }
        }
      }

      .levels-item-content-link {
        a {
          background-color: $secondaryColor;

          &:hover {
            background-color: $primaryColor;
          }
        }
      }
    }
  }
}
